@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root{
    --white-1: #FFF;
    --light-grey: #F1F5F8;
    --black-1: #000;
    --red-1: #CF3034;

    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

/* ========== BALISES  ========== */

body{
    background-color: var(--light-grey);

    font-family: "Nunito Sans" ,Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 30px;

    padding: 16px;
    margin: 0;
    margin-bottom: 0;
}

h3{
    margin: 0;
}

p{
    margin: 0;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

button, input{
    border-style: none;
}

.btn-red:hover{
    background-color: var(--white-1);
    border-color: var(--red-1);

    color: var(--red-1)
}
.btn-white:hover{
    background-color: var(--red-1);

    color: var(--white-1)
}


/* ========== CLASSES  ========== */

.red{
    color: var(--red-1);
}
.white{
    color: var(--white-1);
}

.btn-red{
    display: block;
    width: 100%;
    height: 52px;
    margin: 10px 0px;

    border: solid 2px;
    border-radius: 6px;

    background-color: var(--red-1);

    font-size: 18px;
    font-weight: bold;
    color: var(--white-1);
}

.btn-white{
    display: block;
    width: 100%;
    height: 52px;
    margin: 10px 0px;
    border-radius: 6px;


    border: solid 2px;
    border-color: var(--red-1);

    background-color: var(--white-1);
    
    font-size: 18px;
    font-weight: bold;
    color: var(--red-1);
}

.l:hover, .r:hover{
    border-bottom: solid var(--red-1) 1px;
}

.display-small-none{
    display: none;
}

.flex{
    display: flex;
}

.flex-end{
    display: flex;
    justify-content: end;
}

.flex-around{
    display: flex;
    justify-content: space-around;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-align-center{
    align-items: center;
}

.bald{
    font-weight:bold;
}

.bg-white{
    background-color: var(--white-1);
}

.bg-red{
    background-color: var(--red-1) !important;

    color: var(--white-1);
}

.font-18{
    font-size: 18px;
}

.font-24{
    font-size: 24px;
}
.font-36{
    font-size: 36px;
}

.p10{
    padding: 10px;
}

.p16{
    padding: 16px;
}

.pt-0{
    padding-top: 0;
}

.pb-0{
    padding-bottom: 0;
}

.pl-0{
    padding-left: 0;
}


.pt-20{
    padding-top: 20px;
}

.m30{
    margin: 0 30px;
}



section h2:first-of-type{
    padding-top: 50px;
}

/* ========== HEADER  ========== */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#mainNav{
    /* display: none; */
    position: absolute;
    top: 98px;
    left:-100%;
    width: 100%;
    opacity: 0;

    background-color: var(--light-grey);
    
    text-align: center;

    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

nav li{
    padding: 30px;
}

#mainNav.navVisible{
    left:0;
    opacity: 1;
}

.triangle{

    width: 12px;
    height: 12px;
    padding-left: 2px;

}

header a{    
    color: var(--black-1);
}

header a:hover{
    color: var(--black-1);
}

header a:visited{
    color: var(--black-1);
}

/* ========== ACCUEIL  ========== */

.accueil{
    padding: 16px;    

    background-color: white;
}
.img-accueil img {
    height: 0;
}


/* ========== IMPACT  ========== */

.impact-square{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    padding: 16px;
}

.impact-square > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 183px;
    padding: 10px;

    background-color: var(--white-1);
}

.impact-square > div > p{
    margin: 0;
}

/* ========== TEMOIGNAGES  ========== */

.temoignages img:first-of-type{
    /* height: 40px; */
}

.temoignages li{
    padding: 10px;
}

.img-temoin{
    display: none;
}

    /* Caroussel */

#caroussel{
    position: relative;
    overflow: hidden;
}

#container1{
    transition: transform 0.5s ease-in-out;
}

#container2, #container3{
    position: absolute;
    top:0;
    transform: translateX(-100%);

    transition: transform 0.5s ease-in-out;
}

#container2.container2-right, #container3.container3-right{
    transform: translateX(0);
}

#container1.container1-right, #container2.container2-right-right{
    transform: translateX(100%);
}


/* ========== APPRENTIS  ========== */

.div-apprenti{
    background-color: var(--white-1);
}

/* ========== SOUTIENS  ========== */

.soutiens ul{
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.soutiens ul img{
    height: 48px;
}

.soutiens > div{
    position: relative;
}

.soutiens a{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--red-1);
}

    /* Caroussel 2 */

.caroussel2{
    position: relative;
    overflow: hidden;
}

#container5, #container6{
    width: 100%;
}

#container5, #container6{
    position: absolute;
    top:0;
    transform: translateX(-100%);

    /* transition: transform 0.5s ease-in-out; */
}

#container4{
    animation: defilement1 10s ease-out infinite;
}

#container5{
    animation: defilement2 10s ease-out infinite;

}
#container6{
    animation: defilement3 10s ease-out infinite;

}

#container4.pause, #container5.pause, #container6.pause{
    animation-play-state: paused;
}

#stop{
    padding: 14px;
    margin-bottom: 2px;
}

#stop:hover{
    border-bottom: solid var(--red-1) 1px;
    padding-bottom: 13px;
}

#stop.pause{
    padding: 10.5px 6px;
    margin: 1;

}

#stop:hover.pause{
    padding-bottom: 9.5px;
}

@keyframes defilement1{
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0);
    }
    40%{
        transform: translateX(100%);
    }
    100%{
        transform: translate(100%);
    }
}

@keyframes defilement2{
    0%{
        transform: translateX(-100%);
    }
    20%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(0);
    }
    70%{
        transform: translateX(0);
    }
    90%{
        transform: translateX(100%);
    }
    100%{
        transform: translate(100%);
    }
}

@keyframes defilement3{
    0%{
        transform: translateX(-100%);
    }
    70%{
        transform: translateX(-100%);
    }
    90%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(0);
    }
}



/* ========== FOOTER  ========== */

footer{
    margin-top: 50px;
}

footer ul li{
    padding: 10px 0px;
}

footer a img{
    height: 35px;
}

footer input{
    height: 32px;
    width: 100%;

    border-style: solid;
    border-width: 1px;
    border-color: var(--white-1);

    background-color: var(--red-1);

    color: var(--white-1);
}

footer a{    
    color: var(--white-1);
}

footer a:hover{
    color: var(--white-1);
    text-decoration: underline;
}

footer a:visited{
    color: var(--white-1);
}

.g2 img{
    border: solid var(--white-1) 1px;
}

@media screen and (min-width:576px) {
    body{
        position: relative;
        max-width: 700px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 950px) {
    body{
        max-width: 1200px;
        margin: 0 auto;
    }
    h2{
        padding-left: 0;
    }

    .font-16{
        font-size: 18px;
    }
    .font-18{
        font-size: 24px;
    }    
    .font-36{
        font-size: 64px;
    }
    .display-small-none{
        display: block;
    }
    .display-big-none{
        display: none;
    }

/* ========== HEADER  ========== */

    header{
        margin-bottom: 39px;
        border-bottom: solid var(--white-1) 1px;
    }

    #mainNav{
        position: absolute;
        top: 0px;
        left:10%;
        width: 90%;
        display: flex;
        justify-content: end;
        align-items: center;

        opacity: 1;

        background-color: var(--light-grey);
        
        text-align: center;

        transition: left 0.5s ease-in-out;
    }

    nav li{
        padding-left: 30px;
        display: inline-block;
    }

/* ========== ACCUEIL  ========== */
    
    .accueil{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 45px 0px 45px 60px;
    }
    .accueil-left{
        padding-right: 40px;
    }
    .accueil-button{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding-top: 36px;
        margin-right: 100px;
        max-width: 450px;
    }
    .accueil h2{
        font-size: 38px;
    }
    .accueil p{
        font-size: 18px;
    }
    .img-accueil img {
        height: 100%;
        object-fit: cover;
    }

/* ========== IMPACT  ========== */

    .impact-square{
        display: flex;
        justify-content: center;
    }
    .impact-square > div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 3px;

        width: 197px;
        height: 254px;
    }

/* ========== TEMOIGNAGES  ========== */

    #container1, #container2, #container3{
        display: grid;
        grid-template-columns: 7fr 3fr;
        gap: 50px;

        padding: 43px;
        
        background-color: var(--white-1);
    }
    .temoin{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-temoin{
        display: block;
        width: 249px;
        height: 333px;
        padding-bottom: 20px;
    }

/* ========== APPRENTIS  ========== */
    
    .div-apprenti{
        position: relative;
        background-image: url(/img/img-apprentis.png);
        background-position-x: -30px;
        background-position-y: -15px;
        height: 375px;
    }
    .div-apprenti > div{
        position: absolute;
        right: 0;
        width: 40%;
        padding: 40px 35px 20px 40px;

        background-color: var(--white-1);
    }
    .div-apprenti h3{
        font-size: 24px;
    }
    .div-apprenti p{
        font-size: 18px;

        padding: 20px 0px;
    }
    .div-apprenti a{
        width: 45%;
        padding: 10px;
    }

/* ========== SOUTIENS  ========== */

    .soutiens ul{
        width: 70%;
        height: 163px;
    }
    .soutiens ul img{
        height: 100px;
    }

    .nav-soutien{
        background-color: var(--light-grey);
    }

/* ========== FOOTER  ========== */

    .foot-list{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .foot-list li{
        padding: 7px 20px;

        border-right: solid 1px;
    }
    footer ul:first-of-type li:last-of-type{
        border-right: none;
    }
    
    footer{
        display: grid;
        column-gap: 130px;
        grid-template-columns: repeat(4, minmax(1fr));
        grid-template-rows: 1fr 100px 50px;
    }
    .g1{
        grid-area: 1 / 2 / 2 / 3;
    }
    .g2{
        grid-area: 1 / 3 / 2 / 4;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .g2 h3{
        font-size: 38px;
    }

    .g3{
        grid-area: 2 / 2 / 3 / 4;
    }
    .g4{
        grid-area: 3 / 1 / 4 / 5;
    }
    
    .g1, .g3, .g4{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .simplon-footer{
        min-height: 67px;
        min-width: 217px;
    }
    .logo-footer img{
        height: 50px;
    }
}
